In [1]:
import pandas as pd

In [2]:
import matplotlib
%matplotlib inline

In [5]:
path = 'Questions for Data Demo.csv'
Data_Demo = pd.read_csv(path)

In [6]:
Data_Demo

,时间戳记,Which is your favorite animal?,How many years have you lived in London?,How do you travel to Hogarth?,How do you spend your time during your commute?
0,2022/11/18 4:57:59 下午 GMT,Cat,23,Bus,Listening to Music
1,2022/11/18 4:58:48 下午 GMT,Bird,20,Overground,"Responding to texts, emails"
2,2022/11/18 5:02:18 下午 GMT,Cat,5,Bus,Listening to Music
3,2022/11/18 5:24:17 下午 GMT,Dog,0,Walk,"Responding to texts, emails"
4,2022/11/18 8:09:58 下午 GMT,Dog,5,Underground,"Responding to texts, emails"
5,2022/11/18 11:33:36 下午 GMT,Dog,1,Overground;Walk,Listening to Music
6,2022/11/21 12:43:23 上午 GMT,Cat,2,Underground,Listening to a Podcast

In [8]:
Data_Demo.head()

,时间戳记,Which is your favorite animal?,How many years have you lived in London?,How do you travel to Hogarth?,How do you spend your time during your commute?
0,2022/11/18 4:57:59 下午 GMT,Cat,23,Bus,Listening to Music
1,2022/11/18 4:58:48 下午 GMT,Bird,20,Overground,"Responding to texts, emails"
2,2022/11/18 5:02:18 下午 GMT,Cat,5,Bus,Listening to Music
3,2022/11/18 5:24:17 下午 GMT,Dog,0,Walk,"Responding to texts, emails"
4,2022/11/18 8:09:58 下午 GMT,Dog,5,Underground,"Responding to texts, emails"

In [17]:
popular_genre = Data_Demo['Which is your favorite animal?']

In [18]:
Data_Demo

,时间戳记,Which is your favorite animal?,How many years have you lived in London?,How do you travel to Hogarth?,How do you spend your time during your commute?
0,2022/11/18 4:57:59 下午 GMT,Cat,23,Bus,Listening to Music
1,2022/11/18 4:58:48 下午 GMT,Bird,20,Overground,"Responding to texts, emails"
2,2022/11/18 5:02:18 下午 GMT,Cat,5,Bus,Listening to Music
3,2022/11/18 5:24:17 下午 GMT,Dog,0,Walk,"Responding to texts, emails"
4,2022/11/18 8:09:58 下午 GMT,Dog,5,Underground,"Responding to texts, emails"
5,2022/11/18 11:33:36 下午 GMT,Dog,1,Overground;Walk,Listening to Music
6,2022/11/21 12:43:23 上午 GMT,Cat,2,Underground,Listening to a Podcast

In [19]:
Popular_genre = Data_Demo['How do you travel to Hogarth?']
Data_Demo

,时间戳记,Which is your favorite animal?,How many years have you lived in London?,How do you travel to Hogarth?,How do you spend your time during your commute?
0,2022/11/18 4:57:59 下午 GMT,Cat,23,Bus,Listening to Music
1,2022/11/18 4:58:48 下午 GMT,Bird,20,Overground,"Responding to texts, emails"
2,2022/11/18 5:02:18 下午 GMT,Cat,5,Bus,Listening to Music
3,2022/11/18 5:24:17 下午 GMT,Dog,0,Walk,"Responding to texts, emails"
4,2022/11/18 8:09:58 下午 GMT,Dog,5,Underground,"Responding to texts, emails"
5,2022/11/18 11:33:36 下午 GMT,Dog,1,Overground;Walk,Listening to Music
6,2022/11/21 12:43:23 上午 GMT,Cat,2,Underground,Listening to a Podcast

In [20]:
Popular_genre.unique()

array(['Bus', 'Overground', 'Walk', 'Underground', 'Overground;Walk'],
      dtype=object)

In [35]:
from collections import Counter
most_popular = Counter(Popular_genre).most_common(1)
most_popular

[('Bus', 2)]

In [36]:
Data_Demo.loc[Data_Demo ['How do you spend your time during your commute?'] == 'Listening to Music']

,时间戳记,Which is your favorite animal?,How many years have you lived in London?,How do you travel to Hogarth?,How do you spend your time during your commute?
0,2022/11/18 4:57:59 下午 GMT,Cat,23,Bus,Listening to Music
2,2022/11/18 5:02:18 下午 GMT,Cat,5,Bus,Listening to Music
5,2022/11/18 11:33:36 下午 GMT,Dog,1,Overground;Walk,Listening to Music

In [37]:
popular_rason = Data_Demo ['How do you travel to Hogarth?']

In [38]:
popular_rason

0                Bus
1         Overground
2                Bus
3               Walk
4        Underground
5    Overground;Walk
6        Underground
Name: How do you travel to Hogarth?, dtype: object

In [41]:
Data_Demo.loc[Data_Demo ['How many years have you lived in London?'] == 0]

,时间戳记,Which is your favorite animal?,How many years have you lived in London?,How do you travel to Hogarth?,How do you spend your time during your commute?
3,2022/11/18 5:24:17 下午 GMT,Dog,0,Walk,"Responding to texts, emails"